<section class="bg-white p-6 my-8 rounded shadow-md max-w-2xl mx-auto mt-10">
  <h1 class="text-2xl font-bold mb-4">إضافة مقال</h1>

  <form
    class="flex flex-col gap-4"
    [formGroup]="articleForm"
    (ngSubmit)="submitArticle()"
  >
    <select class="w-full border p-2 rounded" [formControlName]="'category'">
      <option value="">اختار الفئة</option>
      <option *ngFor="let cat of categories" [value]="cat">
        {{ cat }}
      </option>
    </select>

    <input
      type="text"
      placeholder="العنوان"
      class="w-full border p-2 rounded"
      [formControlName]="'title'"
    />

    <input
      type="text"
      formControlName="imageUrl"
      placeholder="ضع رابط الصورة المباشر (.jpg أو .png)"
      class="w-full border p-2 rounded"
    />
    <input
      type="text"
      placeholder="وقت القراءة (e.g. 5 min)"
      class="w-full border p-2 rounded"
      [formControlName]="'readTime'"
    />
    <textarea
      placeholder="الوصف"
      class="w-full border p-2 rounded"
      [formControlName]="'description'"
    ></textarea>

    <textarea
      placeholder="المحتوى الكامل للمقال"
      rows="6"
      class="w-full border p-2 rounded"
      [formControlName]="'content'"
    ></textarea>

    <button type="submit" class="bg-primary text-white px-4 py-2 rounded">
      إرسال
    </button>
  </form>
</section>
